<h1>Enter new message</h1>
<form action="/new" method="post">
<div>
<input type="text" placeholder="Author" name="author" required>
</div>
<div>
    <textarea name="message" cols="30" rows="10" placeholder="Add your message..." required></textarea>
</div>
<div><button>Submit</button></div>
    
</form>