<h1>{{title}}</h1>
<p>Welcome to Message Board</p>
<button>
<a href="/new">Post new message</a>
</button>


<div>
    {{#each messages}}
    <p>{{user}}</p>
    <p>{{text}}</p>
    <p>{{added}}</p>
    {{/each}}
</div>
